body{
    
    padding: 10px ;
    margin: 20px auto ;
    width: 60% ;
    direction: rtl;
    border-radius: 5px ;
    position: relative ;
    display: inline-block;


}
.mainform{

    width:450px;
    margin: auto;
    margin-top:50px;
    font-family: tahoma;
    font-size: 13px;
    padding:10px;

    border: solid;
    padding: 15px;
    position: absolute;
    
}
.row{
    width: 100%;
    min-height: 50px;
}
.lable{
    width: 100px;
    min-height:50px;
    line-height:50px;
    float: right;
    text-align: left;
}
.formelement{
    width: 330px;
    min-height:50px;
    line-height:50px;
    text-align: right;
    padding-right: 20px;
    float: right;
    display: block ;
}

.btn{
    padding: 3px 10px;
    margin: 0 auto;
    display: block;
    font-family: tahoma;
    font-size: 13px;
    transition: all 0.5s;
    cursor: pointer;

}
